@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
#name{
    font-family: 'Sarina'

}


body{
    @apply w-fit;
    @apply sm:w-full;
    background-color: #f2f5fa;
    @apply text-black;
    
}
::selection {
 @apply bg-emerald-400;
  }
  

#post-body a{
  @apply text-blue-500;

}

#title{
  @apply text-5xl
}

#post-body img{
  
  @apply my-2;
  @apply rounded-lg;
  @apply shadow-lg;
  @apply object-cover;
 
}

#post-body code {
    background: #A8DADC;
    color: #2f2f2f;
    padding: 2px 5px;
    border-radius: 5px;
  }

#post-body h1{

  font-weight: bold;
  font-size: 2rem;
  @apply mb-2

}
#post-body h2{

  font-weight: bold;
  font-size: 1.5rem;
  @apply mb-2
}

#post-body h3{

  font-weight: bold;
  font-size: 1.25rem;
  @apply mb-2
}

#post-body h4{

  font-weight: bold;
  font-size: 1rem;
  @apply mb-2
}

#post-body h5{

  font-weight: bold;
  font-size: 0.75rem;
  @apply mb-2
}

#post-body h6{

  font-weight: bold;
  font-size: 0.5rem;
  @apply mb-2
}
